<a href="https://colab.research.google.com/github/andrejuniorba/Matematica_codigos/blob/main/Aula_00_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 0 - Introdução a linguagem Python**

## **Turma 9º ano**

***Prof. André Luz***

**1. Faça um programa em linguagem Python que converta metros para centímetros.**

In [ ]:
print('\t ----Conversão de medida---- ')
metros = int(input('Informe o valor em metros: '))
print ('O valor em centimetros é :', metros * 100)

	 ----Conversão de medida----
Informe o valor em metros: 125
O valor em centimetros é : 12500

**2. Faça um algoritmo em linguagem Python que receba duas notas e calcule a média aritmética e mostre o resultado.**

In [ ]:
print('\t ----Cálculo da média aritmética---- ')

nota1 = float(input('Informe a primeira nota: '))
nota2 = float(input('Informe a segunda nota: '))

media = (nota1+ nota2)/2

print(f'A média é {round(media,1)}')

	 ----Cálculo da média aritmética----
Informe a primeira nota: 8
Informe a segunda nota: 7
A média é 7.5

**3. Faça um programa em Python que leia um valor inteiro e mostre a tabuada de 1 a 10 do valor lido.**

In [ ]:
print('\t ----Tabuada---- ')
numero = int(input('Informe o numero para ver a tabuada: '))

print('\n Tabuada de', numero, ':')

for i in range(0, 11):
    print(numero, 'X', i, '=', (numero * i))

	 ----Tabuada----
Informe o numero para ver a tabuada: 47

 Tabuada de 47 :
47 X 0 = 0
47 X 1 = 47
47 X 2 = 94
47 X 3 = 141
47 X 4 = 188
47 X 5 = 235
47 X 6 = 282
47 X 7 = 329
47 X 8 = 376
47 X 9 = 423
47 X 10 = 470

**4. Faça um programa que recebendo um valor inteiro, informe se o número é positivo, negativo ou neutro.**

In [ ]:
print('\t ---- Classificação dos números---- ')
x = int(input("Informe um número para verificar: "))
if x < 0:
        print('É um número negativo ')
elif x == 0:
        print('É um número neutro')
elif x > 0:
        print('É um número positivo')

	 ---- Classificação dos números----
Informe um número para verificar: -5
É um número negativo

**5. Faça um programa que recebendo um valor inteiro, informe se o número é par ou ímpar.**

In [ ]:
print("\t ----PAR ou ÍMPAR----")
a = int(input ("Digite um número: "))

resto_a = a % 2

if resto_a == 0:
    print("O número é par")
else:
    print("O número é ímpar")

	 ----PAR ou ÍMPAR----
Digite um número: 17
O número é ímpar

**6. Fazer um algoritmo que ao receber o salário atual de um funcionário, calcule o valor do novo salário reajustado de acordo com a tabela abaixo:**

![image.png]()

In [ ]:
print('\t ----Cálculo do novo salário ---- ')
salario_atual = float(input('Informe o salario atual: '))

if (salario_atual<1000):
    salario_novo=salario_atual+(salario_atual*0.15)
elif ((salario_atual>=1000) and (salario_atual <=1500)):
    salario_novo=salario_atual+(salario_atual*0.10)
else:
    salario_novo=salario_atual+(salario_atual*0.05)
    
print('Salario com reajuste' '=', salario_novo)

	 ----Cálculo do novo salário ----
Informe o salario atual: 1499
Salario com reajuste= 1648.9

**7. Escreva um programa para ler as coordenadas (X,Y) e informe em qual quadrante estão localizados.**

In [ ]:
x = int(input('Digite a coordenada X: '))
y = int(input('Digite a coordenada Y: '))

if (x==0 or y==0):
  print('As coordenadas não estão posicionadas em nenhum quadrante.')
elif (x>0 and y>0):
  print('As coordenadas estão no primeiro quadrante.')
elif (x<0 and y>0):
  print('As coordenadas estão no segundo quadrante.')
elif (x<0 and y<0):
  print('As coordenadas estão no terceiro quadrante.')
else:
  print('As coordenadas estão no quarto quadrante.')

Digite a coordenada X: 5
Digite a coordenada Y: 0
As coordenadas não estão posicionadas em nenhum quadrante.